node_modules
build
build/
dist/
node_modules/

#keys, ids
.env

#amplify
src/aws-exports.js
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/mock-data
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation
awsconfiguration.json
amplifyconfiguration.json
amplify-gradle-config.json
amplifyxc.config
